<form action="/housing" method="post">

<ul>
	<% @user.each do |user| %>
  <li class="profile">
    <h3><%= user.user_name %></h3>
    <p><%= user.email %></p>
    <p><%= user.program %></p>
    <p><%= user.housing_preference %></p>
    <p><%= user.about_me %></p>
  </li>
</ul>

<%end%>
</form>